body{
    text-shadow: 1px 1px 1px red;
}
body{background-color: rgba(2, 34, 34, 0.623);}

body{
	text-align: center;
}

head img{
	margin: 5;
}
 a{
	color: rgba(2, 34, 34, 0.623);
	font-size: large;
	display:inline-block;
}
ar{
	text-decoration:none;
	color: #333;
	transition: all 0.3 ease;
}

ar:hover{
	font-size:100%;
}


nav{
	padding: 2%;
	margin-bottom: 1%;
	text-align: center;
}

.grid-item{
	color: rgba(0, 0, 0, 0.459);
	border: 2px solid
}

