/*
Author:
Date:
File Name: 
*/
body{
	text-align:center;
}

  table{
       width: 80%; 
	  margin-top: 0;
	  margin-bottom: 0;
	  margin-left:auto;
	  margin-right:auto;
	  border:3px solid #71881b;
  }
	  
      
  table,tr,th,ts{
	  border-collapse: collapse;
	  padding: 2%;
  }
  
  caption{
	  font-size:2em;
	  padding:2%;
	  margin-top:2%;
  }
  th,td{
	  border: 1px solid #7188bb;
  }
 /* This style rule aligns the text in the center*/
 td{
	 text-align:center;
 }
 
 tr:nth-child(odd){
	 background-color:#d3e788;
 }
 
  
  
